@use 'utils' as *;

main {
  width: 90%;
  margin: space(10) auto;
}

.profile-card {
  @extend %rounded-border;
  background-color: $background-card;
  overflow: hidden;
}

.profile-header {
  @extend %flex-row, %rounded-border;
  align-items: center;
  justify-content: space-between;
  background-color: $background-profile-header;
  padding: space(4) space(3);
}

.profile-icon {
  max-width: 70px;
  border: 2px solid white;
  border-radius: 50%;
}

.profile-periods {
  @extend %flex-row;
  align-items: center;
  justify-content: space-around;
  padding: space(3);

  input[type='radio'] {
    appearance: none;
  }

  label {
    cursor: pointer;
  }

  input[type='radio']:checked + label {
    color: $font-primary;
  }
}

.period-card {
  @extend %rounded-border;
  padding-top: space(5);
  margin-top: space(3);
}

@each $title, $color in $card-colors {
  .card-#{$title} {
    background: $color url(../images/icon-#{$title}.svg) top -5px right 15px no-repeat;
  }
}

.period-content {
  @extend %rounded-border;
  background-color: $background-card;
  padding: space(4) space(3);
}

.period-sub-container {
  @extend %flex-row;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    margin-bottom: space(1);
  }
}
